
.nav-container {
    display: flex;
    position: fixed;
    justify-content:flex-end;
    padding: 10px 10px;
    left: 88%;
}

i {
    color: aqua;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
}



