
.nav-container {
    position: relative;
}



#linkedin, #github {
    position: absolute;
    // align-items: center;
    // justify-content: center;
    // height: 100%;
    // width: 50%;
    // background-color: black;
}

  


i {
    color: aqua;
    font-size: 30px;
    height: 100%;
    width: 5%;
}



