
.title-div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25px;
    
}

.title {
    position: absolute;
    color: aqua;
    text-align: center;
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#table-body {
  display: none;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 500px;
  padding-bottom: 20px;
}

.table-content {
  position: relative;
  background-color: aqua;
  color: black;
  margin: auto;
  padding-left: 5px;
  font-size:x-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid grey;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  opacity: 0.8;

}

.table-header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

#planetSymbol {
  padding-top: 5px;
}
#nameOfObject {
  text-align: center;
  height: 10%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  color: black;
}
